* {
  box-sizing: border-box;
}

h1 {
  text-align: center;
  color: violet;
}

#calc-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#clear, #equals {
  width: 200px;
}


.button {
  display: flex;
  border-radius: 12px;
  width: 100px;
  height: 60px;
  justify-content: center;
  font-size: 24px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  outline: none;
  background-color: lightpink;
}

.button:clicked {
  outline: none;
}

#calc-screen {
  margin: auto;
  width: 400px;
  height: 60px;
  border: 5px solid gray;
  border-radius: 12px;
  justify-content: flex-end;
  align-items: center;
  padding-right: 14px;
  font-size: 24px;
  border-color: cornflowerblue;
}
